<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        
        <!-- Таблица задач -->
        <table class="todo-table">
            <tr>
                <th>Задача</th>
                <th>Статус</th>
            </tr>
            <tr>
                <td>Пример задачи 1</td>
                <td>Не выполнено</td>
            </tr>
            <tr>
                <td>Пример задачи 2</td>
                <td>Не выполнено</td>
            </tr>
        </table>

        <!-- Кнопки для выбора логина или регистрации -->
        <div class="buttons">
            <a href="/login/" class="button login-btn">Логин</a>
            <a href="/register/" class="button register-btn">Регистрация</a>
        </div>
    </div>
</body>
</html>
